/* * {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
} */

.bg-img1 {
  background-color: #000;
  background-size: cover;
  background-image: url(image/hinh-nen-dong-anime-cho-may-tinh-001.jpg);
  height: 32rem;
}
.bg-img2 {
  background-color: #000;
  background-size: cover;
  background-image: url(image/hinh-nen-may-tinh.jpg);
  height: 32rem;
}
.bg-img3 {
  background-color: #000;
  background-size: cover;
  background-image: url(image/tai-hinh-nen-vu-tru-cho-may-tinh-1-2.jpg);
  height: 32rem;
}
.bg-img4 {
  background-color: #000;
  background-size: cover;
  background-image: url(image/345960732_557268529856940_1091272109918648400_n.jpg);
  height: 32rem;
}
.bg-img5 {
  background-color: #000;
  background-size: cover;
  background-image: url(image/345979825_142783978685439_4142277358351494292_n.jpg);
  height: 32rem;
}
.bg-img6 {
  background-color: #000;
  background-size: cover;
  background-image: url(image/346019354_652137320073048_8543505745743340117_n.jpg);
  height: 32rem;
}
